@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-login{
   font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  width: 205.6vh;
  background: linear-gradient(rgba(0, 0, 0, 0.276), rgba(0, 0, 0, 0.249)),
    url(assets/website/images-2021-09-02T024211.464.webp);
  background-size: cover;
  background-position: center;
}
.formLogin{
  padding: 40px;
  position: relative;

left: 490px;
background: #72737b;
width: 450px;
height: 450px;
border-radius: 20px;
}
.formRegister{
  padding: 40px;
  position: relative;

left: 530px;
background: #72737b;
width: 450px;
height: 490px;
border-radius: 20px;

}
.header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex: 1;
}
.header nav ul {
  display: flex;
}
html {
  scroll-behavior: smooth;
}
.image-container {
  position: relative;
  left: 90px;
  bottom: 140%;
  padding: 10px 50px;
}
.continer_foter {
  max-height: 80%;
}

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }
  .button-outline {
    @apply rounded-md text-xl font-bold border-2  bg-cyan-300 hover:bg-cyan-400 duration-500 py-3 px-7 text-black tracking-wider;
  }
}
.LinkCar {
  width: 150px;
}


.btn-sh {
  width: 130px;

}
.btn-c{
  width: 160px;
  position: relative;
  justify-content: center;
  left: 45%;
  top:20px
}




/* style chatBot */
/* Importin google foont -inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.body-chat{
  width: 100%;
  display: flex;
  min-height: 100vh;
  
  align-items: center;
  justify-content: center;
  background: linear-gradient(#ffffff, #b8add68f);

}

.chatbot-popup {
  position: relative;
  background: #fff;
  /* height: 350px; */
  width: 950px;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgb(0, 0, 0, 0.5);
}
.chatbot-popup .chat-header {
  background: #6e6781d0;
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
}
.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-info svg {
  height: 40px;
  width: 40px;
  padding: 6px;
  background: #fff;
  border-radius: 50%;
  /* fill: #738392d0; */
  flex-shrink: 0;
}
.header-info .logo text {
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  color: #fff;
  font-size: 1.9rem;
  cursor: pointer;
  padding-top: 2px;
  border-radius: 50%;
  margin-right: -10px;
  background: #6e6781d0;
}
.chat-header button:hover {
  background: #302d36a7;
}
.chat-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 460px;
  margin-bottom: 52px;
  overflow-y: auto;
  padding: 20px 22px;
  scrollbar-width: thin;
  scrollbar-color: #ddd3f9 transparent;
}
.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;
}

.chat-body .bot-message svg {
  height: 50px;
  width: 50px;
  padding: 6px;
  /* background: #6e6781; */
  align-self: flex-end;
  margin-bottom: 2px;
  border-radius: 50%;
  /* fill: #fff; */
  flex-shrink: 0;
}

.chat-body .message .message-text {
  padding: 12px 10px;
  max-width: 90%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 20px;
}
.chat-body .bot-message .message-text {
  background: #f6f2ff;
  border-radius: 13px 13px 13px 3px;
}
.chat-body .user-messge {
  flex-direction: column;
  align-items: flex-end;
}
.chat-body .user-messge .message-text {
  color: #fff;
  background: #6e6781;
  border-radius: 13px 13px 13px 3px;
}
.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-radius: 32px;
  padding: 15px 22px 20px;
}
.chat-footer .chat-form {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 32px;
  padding: 0 17px;
  outline: 1px solid #cccce5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.chat-footer .chat-form:focus-within {
  outline: 2px solid #6e6781;
}
.chat-form .message-input {
  border: none;
  outline: none;
  background: none;
  height: 47px;
  font-size: 0.95rem;
  width: 100%;
}
.chat-form button {
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  display: none;
  cursor: pointer;
  font-size: 1.15rem;
  color: #fff;
  flex-shrink: 0;
  margin-right: 6px;
  border-radius: 50%;
  background: #6e6781d0;
  transition: 0.2s ease;
}
.chat-form button:hover {
  background: #302d36d7;
}
.chat-form .message-input:valid ~ button {
  display: block;
}
.ReturnToHomeChat{
  width: 50px;
  height: 30px;
  position: absolute;
    bottom: 480px;
    right:  60px;

}
@media (max-width: 520px) {
  /* #chatbot-toggler{
    right: 20px;
    bottom: 20px;
  } */
  .chatbot-popup {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot-popup .chat-header {
    padding: 12px 15px;
  }
  .chat-body {
    /* height: calc(20% - 105px); */
    padding: 25px 15px;
  }
  .chat-footer {
    padding: 10px 15px 15px;
  }
}
/* end style chatBot */

.booking__form {
  width: 120%;
  position: relative
  ;
  right: 180px;
}
.btn-carD {
  justify-content: center;
  align-items: center;
  left: 40px;
}

.btn-exit{
  position: relative;
  left: 1140px;
  top: 20px;
  font-size: 25px;
}
.btn-exit-ItemCars{
  position: relative;
  left: 1265px;
  bottom: 30px;
  font-size: 25px;
}
.A-carList{
  color: red;
}